/* Colores base */
:root {
--verde-principal: #226725;
--gris-oscuro: #333333;
--azul: #00796B;
--blanco: #ffffff;
--pastel: #FFF9E6;
}

/* Reset básico */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
color: var(--gris-oscuro);
line-height: 1.6;
background-color: #ffffff ;
}

/* Encabezado */
header {
background-color: var(--verde-principal);
color: var(--blanco);
padding: 20px;
text-align: center;
}

header img {
vertical-align: middle;
}

/* Secciones */
section {
margin: 20px 0;
padding: 20px;
border-radius: 8px;
color: var(--gris-oscuro);

}

section p {
font-size: 28px;
}
section h2 {font-size: 40px;}
section ul,
section ol,
section li {
font-size: 28px;
}

/* Títulos */
h1, h2 {
font-size: 40px;
color: var(--verde-principal);
margin-bottom: 10px;
}

/* Listas */
ul {
padding-left: 20px;
}

li {
margin-bottom: 10px;
}

/* Vinculos */
a {
color: var(--azul);
text-decoration: none;
}

a:hover {
text-decoration: underline;
}


/* Pie de página */
footer {
text-align: center;
background-color: var(--verde-principal);
color: var(--blanco);
}

#que-hacemos {
  margin-left: 40px;
  margin-right: 40px;
}
#como-ayudar {
  margin-left: 40px;
  margin-right: 40px;
}
